section.container {
    margin-top: 100px;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

h1 {
    font-size: 20px !important;
    margin-top: 0px !important;
    margin-bottom: 30px !important;
}

.status-bar {
    margin-top: 20px;
}
#contact-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#contact-list li {
    border: 1px solid #CCCCCC;
    list-style-type: none;
    margin: 0 0 5px 0;
    padding: 10px;
    width: 100%;
}
