<!doctype html>
<html lang="en" data-framework="angularjs">
<head>
    <meta charset="utf-8">
    <title>AngularJS • TodoMVC</title>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <style>[ng-cloak] { display: none; }</style>
</head>

<body ng-app="contacts">

    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">

                <!-- note the ng-init and ng-click here: -->
                <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Contacts</a>
            </div>

            <div class="collapse navbar-collapse" collapse="navCollapsed">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#/create">Create</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <section class="container">
        <ng-view />
    </section>


    <script type="text/ng-template" id="contacts-create.html">
        <header id="create-header">
            <form id="create-contact-form">
                <div class="form-group">
                    <label for="create-first-name">First Name</label>
                    <input id="create-first-name" name="first-name" class="form-control"  ng-model="newContact.firstName" ng-disabled="saving" autofocus />
                </div>
                <div class="form-group">
                    <label for="create-last-name">Last Name</label>
                    <input id="create-last-name" name="last-name" class="form-control"  ng-model="newContact.lastName" ng-disabled="saving" />
                </div>

                <button type="submit" class="btn btn-default" ng-click="addContact()">Submit</button>
            </form>

        </header>
    </script>

<script type="text/ng-template" id="contacts-index.html">
    <section id="contactapp">
        <section id="main" ng-show="contacts.length" ng-cloak>
            <ul id="contact-list">
                <li ng-repeat="contact in contacts">
                    <a href="#/edit">
                        <div class="view">
                            <img src="http://www.lorempixel.com/40/40" />
                            {{contact.firstName}} <strong>{{contact.lastName}}</strong>
                        </div>
                    </a>
                </li>
            </ul>
        </section>
        <section id="main" ng-show="!contacts.length" ng-cloak>
            <ul id="contact-list">
                <li><p>No Contacts. Why don't you <a href="#/create">Create</a> one.</p></li>
            </ul>
        </section>
    </section>
</script>
<!--<script type="text/javascript" src="cordova.js"></script>-->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>

<script src="js/app.js"></script>
<script src="js/controllers/contactCtrl.js"></script>
<script src="js/services/contactStorage.js"></script>
</body>
</html>
